<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{{ metadata.og_context.title|escape }}</title>
            <meta property="og:title" content="{{ metadata.og_context.title|escape }}" />
            <meta property="og:description" content="{{ metadata.og_context.description|escape }}" />
            <meta property="og:url" content="{{ metadata.og_context.url|escape }}" />
            <meta property="og:image" content="{{ metadata.og_context.picture|escape }}" />
            <link href="/yt/cssbin/www-core.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="www-header-container">
            <div class="www-header-mast">
                {% include 'header.twig' %}
            </div>
        </div>
        <div class="www-container-main">
            index content bitch
        </div>
        <div class="www-footer-container">
            <div class="www-header-mast">
                {% include 'footer.twig' %}
            </div>
        </div>
    </body>
</html>